<?xml version="1.0" encoding="utf-8"?>
  <odoo>
    <data>
      <record id="action_rfq_operations" model="ir.actions.act_window">
            <field name="name">RFQ Operations</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">purchase.order</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="172"/>
            <field name="domain">[('state', '=', 'draft')]</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    No request for quotation found. Let's create one!
                </p>
                <p>
                    Requests for quotation are documents that will be sent to your suppliers to request prices for different products you consider buying.
                    Once an agreement has been found with the supplier, they will be confirmed and turned into purchase orders.
                </p>
            </field>
    </record>


      <menuitem id="menu_rfq_operations"
            name="RFQ operations"
            sequence="1"
            action="action_rfq_operations"
      />
    </data>

  </odoo>