.oe_statusbar_color .o_statusbar {
    display: flex;
    align-items: center;
}

.oe_statusbar_color .o_statusbar .o_statusbar_status {
    padding: 2px;
    border-radius: 2px;
    color: white;
}

.oe_statusbar_color .o_statusbar .o_statusbar_status.draft {
    background-color: blue;
}

.oe_statusbar_color .o_statusbar .o_statusbar_status.review {
    background-color: orange;
}

.oe_statusbar_color .o_statusbar .o_statusbar_status.approved {
    background-color: green;
}
